// REPO: @hitchsoftware/react-file-manager
// FILE: src\components\Loader\Loader.scss

@use "../../styles/theme";

.loader-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  background-color: var(--file-manager-hover-color);
  z-index: 1000;
}

.spinner {
  font-size: 3rem;
  color: var(--file-manager-text-color);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.upload-loading {
  position: relative;
  display: block;
  background-color: transparent;
  z-index: 0;

  .spinner {
    font-size: .9rem;
    color: var(--file-manager-text-color);
  }
}