// REPO: @hitchsoftware/react-file-manager
// FILE: src\components\Loader\Loader.scss

@use "../../styles/theme";

.fm-button {
  border-radius: 5px;
  font-weight: 600;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.fm-button-primary {
  background-color: var(--file-manager-bg-color);
  color: var(--file-manager-text-color);

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2));
  }
}

.fm-button-secondary {
  background-color: #f0f0f0;
  color: var(--file-manager-text-color);

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1));
  }
}

.fm-button-danger {
  background-color: #f44336;
  color: var(--file-manager-text-color);

  &:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2));
  }
}